In [380]:
import requests
import pandas as pd

In [381]:
## 1. 인터넷에서 데이터 가져오기

In [382]:
# Genue top200
url = 'https://www.genie.co.kr/chart/top200'
req = requests.get(url)
html = req.text
html

'<br>\r\n<br>\r\n<center>\r\n<img src="http://www.geniemusic.co.kr/images/common/logo_r1.png"><br>\r\n<h2> <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> ì\xa0\x91ì\x86\x8dì\x9a\x94ì²\xadì\x9d´ ë³´ì\x95\x88ì\xa0\x95ì±\x85ì\x97\x90 ì\x9d\x98í\x95´ ì°¨ë\x8b¨ë\x90\x98ì\x97\x88ì\x8aµë\x8b\x88ë\x8b¤. ë\x8b¹ì\x82¬ ê³\xa0ê°\x9dì\x84¼í\x84°ë¡\x9c ë¬¸ì\x9d\x98í\x95´ì£¼ì\x8b\xadì\x8b\x9cì\x98¤.<br><br>\r\nThe security policy of the connection request is blocked. Contact your customer service representative.<br><br>\r\nì§\x80ë\x8b\x88ë®¤ì§\x81 ê³\xa0ê°\x9dì\x84¼í\x84° 1577-5337<br><br>\r\n</h2>\r\n</center>\r\n<br>'

In [383]:
# Chrome User-Agent
header = {'User-Agent':
          "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36"
}
req = requests.get(url,headers=header)
html = req.text
#html

In [384]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(html,'html.parser')

In [385]:
trs = soup.find_all('tr')
len(trs)

51

In [386]:
table = soup.select_one('table.list-wrap').find('tbody')
trs = table.select('tr')

In [387]:
tbody = soup.select_one('#body-content>div.newest-list>div>table>tbody')
trs = tbody.select('tr')
len(trs)

50

- Xpath 값은 아래와 같으나 BeautifulSoupdms 지원하지 않음

//*[@id="body-content"]/div[6]/div/table/tbody

### 3. 여러개의 데이터중 하나를 선택해서 원하는 정보를 추출

- rank, title, artist, album

In [388]:
tr =trs[0]

In [389]:
#rank
tr.select_one('.number').get_text()

'1\n                                        \n                                    \n유지\n\n'

In [390]:
rank = tr.select_one('.number').get_text().split('\n')[0]
rank

'1'

In [391]:
# title
tr.select_one('.title.ellipsis').get_text()

'\n                                        \n                                            \n                                        \n                                        \n                                        \n                                        \n                                            \n                                                리무진 (Feat. MINO) (Prod. by GRAY)'

In [392]:
title = tr.select_one('.title.ellipsis').get_text().strip()
title

'리무진 (Feat. MINO) (Prod. by GRAY)'

In [393]:
artist = tr.select_one('.artist.ellipsis').get_text().strip()
artist

"BE'O (비오)"

In [394]:
# album
album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
album

'쇼미더머니 10 Episode 3'

### 4. 한 페이지에 있는 모든 데이터를 반복문으로 가져와 데이터 프레임으로 만들기

In [395]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text().strip()
    album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)

In [396]:
df = pd.DataFrame({
    '순위': rank_list, '제목': title_list, '가수':artist_list, '앨범':album_list
})
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

In [397]:
lines = []
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text().strip()
    album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
    lines.append([rank, title, artist, album])

df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

In [398]:
lines = []
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text().strip()
    album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
    d = {'순위': rank, '제목': title, '가수':artist, '앨범':album}
    lines.append(d)

df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

### 모든 페이지의 데이터 가져오기

In [399]:
lines = []
for page in range(1,5):
    url = f'https://www.genie.co.kr/chart/top200?ditc=D&ymd=20211206&hh=11&rtm=Y&pg=2={page}'
    req = requests.get(url,headers=header)
    html = req.text
    soup = soup = BeautifulSoup(html,'html.parser')
    tbody = soup.select_one('#body-content>div.newest-list>div>table>tbody')
    trs = table.select('tr')

    for tr in trs:
        rank = tr.select_one('.number').get_text().split('\n')[0]
        title = tr.select_one('.title.ellipsis').get_text().strip()
        artist = tr.select_one('.artist.ellipsis').get_text().strip()
        album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
        lines.append([rank, title, artist, album])

df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.tail()

,순위,제목,가수,앨범
195,46,Peaches (Feat. Daniel Caesar & Giveon),Justin Bieber,Justice
196,47,너와 나의 Memories,염따 & TOIL & 쿤타 & 베이식 (Basick) & 365LIT & 황지상 &...,쇼미더머니 10 Episode 1
197,48,Weekend,태연 (TAEYEON),Weekend
198,49,Celebrity,아이유 (IU),IU 5th Album 'LILAC'
199,50,찰나가 영원이 될 때 (The Eternal Moment),마크툽 (Maktub),Red Moon : Beyond The Light

In [400]:
df.to_csv('지니차트_Top200(211206).csv', index=False)