# Pandas

### 1. serise

In [2]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([9904312, 3448737, 2890457, 2466052], 
            index=['서울', '부산', '인천', '대구'])
s

서울    9904312
부산    3448737
인천    2890457
대구    2466052
dtype: int64