#unit10. 리스트와 튜플

In [4]:
a = [23, 56, 76, 34, 25]
a

[23, 56, 76, 34, 25]

In [5]:
type(a)

list

In [11]:
person =['jamson', 25, 175.3, True]
person

['jamson', 25, 175.3, True]

In [13]:
#빈리스트 만들기
a =[]
a = list()

In [14]:
#range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range (5,12))              #시작과 끝 지정

[5, 6, 7, 8, 9, 10, 11]

In [16]:
list(range(1,10,2))             #시작, 끝 증가분

[1, 3, 5, 7, 9]

In [17]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10-2. 튜플

In [19]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [54]:
#1개짜리 튜플은 반드시 뒤에 , 를 붙여야 한다
 
a = (5,)
type (a)

tuple

In [33]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [40]:
 tuple([1,2,3]) #리스트를 튜플로

(1, 2, 3)

In [42]:
list((1,2,3)) # #튜플을 리스트로

[1, 2, 3]

In [49]:
list(1,2,3)

TypeError: list expected at most 1 argument, got 3

In [50]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [51]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

- unpacking

a, b, c = [1, 2, 3]
x, y, z = 4, 5 , 6