Unit22. 리스트와 튜플

- 요소추가

In [1]:
a = [10, 20, 30]
a.append(40)
a.append(50)
a
#append는 요소를 하나 추가하는 명령어이다. 
# //비어있는 리스트에도 쌉가능

[10, 20, 30, 40, 50]

In [2]:
a.insert(0, 34)
a.insert(3,77)
a

[34, 10, 20, 77, 30, 40, 50]

In [3]:
a.append([100, 200])
a

[34, 10, 20, 77, 30, 40, 50, [100, 200]]

In [4]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

- 요소삭제

In [5]:
del a[-1]
a

[34, 10, 20, 77, 30, 40, 50]

In [6]:
a.pop()

50

In [7]:
a

[34, 10, 20, 77, 30, 40]

In [8]:
a.pop(1)

10

In [9]:
a.pop(0)

34

In [10]:
a

[20, 77, 30, 40]

- 특정값의 인덱스 찾기

In [11]:
a.index(20)

0

In [12]:
for index, element in enumerate(a):
    print(f'index: {index}, value:{element}')

index: 0, value:20
index: 1, value:77
index: 2, value:30
index: 3, value:40

In [13]:
for i in range(len(a)):
    print(f'index:{i}, value:{a[i]}')

index:0, value:20
index:1, value:77
index:2, value:30
index:3, value:40

In [14]:
value = 20
for index, element in enumerate(a):
    if element == value :
        break
print(index)

0

- 기타

In [15]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [16]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [17]:
a.reverse()
a

[40, 20, 15, 30, 20, 10]

- 정렬

In [18]:
a.sort()        #오름차순(ascending order) 정렬
a

[10, 15, 20, 20, 30, 40]

In [19]:
a.sort(reverse=True)  #내림차순(descending order) 정렬
a

[40, 30, 20, 20, 15, 10]

In [20]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [21]:
b

[10, 20, 30, 15, 20, 40]

- 복사

In [22]:
a

[40, 30, 20, 20, 15, 10]

In [23]:
b=a
print(a,b)

[40, 30, 20, 20, 15, 10] [40, 30, 20, 20, 15, 10]

In [24]:
b[-1] = 100
print(a,b)

[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 100]

In [25]:
b = a.copy()
print(a,b)
b[-1] = 500
print(a,b)

[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 100]
[40, 30, 20, 20, 15, 100] [40, 30, 20, 20, 15, 500]

### 반복문과 리스트

In [26]:
a = [30, 21, 53, 62, 19]
for i in a:
    print(i)

30
21
53
62
19

In [27]:
for index, value in enumerate(a):
    print(index, value)

0 30
1 21
2 53
3 62
4 19

In [28]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

### 리스트의 최대값, 최소값, 합계구하기

In [30]:
a = [30, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small=element
small

19

In [32]:
a = [30, 21, 53, 62, 19]
Large = -1
for element in a:
    if element > Large:
        Large=element
Large

62

In [33]:
min(a), max(a)

(19, 62)

In [34]:
sum(a)

185

In [35]:
a = [30, 21, 53, 62, 19]
sum = 0
for i in a:
    sum += i
sum

185

In [2]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)
# 리스트와 반복문을 사용하여 간단하게 모든 요소를 출력하는 방법

38
21
53
62
19

In [3]:
for i in [38, 21, 53, 62, 19]:
    print(i)
#이렇게 작성해도 상관 X

38
21
53
62
19

In [5]:
#for 반복문으로 요소를 출력할때 
#인덱스도 함께 출력하려면 enumerate를 사용.
a = [38, 21, 53, 62, 19]
for index, vlaue in enumerate(a):
    print(index, vlaue)

#enumerate안에 리스트를 넣으면 for 반복문에서 
#인덱스와 요소를 동시에 꺼낼수있다.

0 38
1 21
2 53
3 62
4 19

In [9]:
for index, value in enumerate(a, start=252):
    print(index, value)

#출력값에서 앞의 숫자가 원하는 숫자부터 출력하려면
#enumerate에 star를 지정한다.(줄여쓰고 싶으면 start빼삼)

252 38
253 21
254 53
255 62
256 19

In [11]:
a = [38, 21, 53, 62, 19]
for i in range(len(a)):
    print(a[i])
#for문으로 인덱스를 지정하여 요소를 가져오는 방법
#len으로 리스트 길이(요소 갯수)를 구해서 추가

38
21
53
62
19

In [34]:
a = [-20, -25, 38, 21, 53, 62, 19]
i = 0               #//a 의 자리수
while i < len(a):   ##요소 개수
    print(a[i])
    i += 1

#while 반복문으로 리스트의 요소를 출력할때

-20
-25
38
21
53
62
19