In [14]:
### 22-4 리스트의 최대값, 최소값, 합계구하기

In [15]:
a = [38, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small = element
small

19

In [16]:
large = -1
for element in a:
    if element > large:
        large = element
element

19

In [17]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [18]:
min(a), max(a)

(19, 62)

In [19]:
sum(a)

TypeError: 'int' object is not callable

In [ ]:
a = [38, 21, 53, 62, 19]
sum = 0
for i in a:
    sum += i
sum

193

In [ ]:
### 22-5. 리스트 표현식(comprehension)

In [ ]:
#1에서 10까지의 제곱수로된 리스트를 만드세요
squqre_list = []
for i in range(1,11):
    squqre_list.append(i*i)
squqre_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squqre_list = [i*i for i in range(1, 11)]
squqre_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
odd_sq = [i*i for i in range(1, 11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

In [37]:
m, n = map(int, input().split())
res_list = [i * i for i in range(m, n+1) if i % 3 == 0]
res_list

[1089,
 1296,
 1521,
 1764,
 2025,
 2304,
 2601,
 2916,
 3249,
 3600,
 3969,
 4356,
 4761,
 5184,
 5625,
 6084,
 6561,
 7056,
 7569,
 8100,
 8649,
 9216,
 9801,
 10404,
 11025,
 11664,
 12321,
 12996,
 13689,
 14400,
 15129,
 15876,
 16641,
 17424,
 18225,
 19044,
 19881,
 20736,
 21609,
 22500,
 23409,
 24336,
 25281,
 26244,
 27225,
 28224,
 29241,
 30276,
 31329,
 32400,
 33489,
 34596,
 35721,
 36864,
 38025,
 39204,
 40401,
 41616,
 42849,
 44100,
 45369,
 46656,
 47961,
 49284,
 50625,
 51984,
 53361,
 54756,
 56169,
 57600,
 59049,
 60516,
 62001,
 63504,
 65025,
 66564,
 68121]

In [27]:
a = [i * k for k in range(2, 10) for i in range(1, 10)]
print (a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [22]:
a = [1.2, 2.3, 3.4, 4.5]
for i in range (len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [31]:
a = [1.2, 2.3, 3.4, 4.5]
for element in a:
    element = int(element)
a

[1.2, 2.3, 3.4, 4.5]

In [1]:
list(map(int, a))

NameError: name 'a' is not defined

In [34]:
def sq(x):
    return x*x

In [35]:
list(map(sq, a))

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

In [36]:
list (map(lambda x: x*x, a))

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

In [ ]:
m, n = map(int, input().split())
res_list = [i * i for i in range(m, n+1) if i % 3 == 0]
res_list