# unit 23. 이차원 리스트

In [5]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [6]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [4]:
import numpy as np
b = np. arange(10, 61, 10). reshape(3, 2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [6]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  50  60

In [7]:
# indexing
a[1][1]

40

In [8]:
a[-1][-1]

60

In [9]:
from pprint import pprint
pprint(a, indent=4, width=20)

[   [10, 20],
    [30, 40],
    [50, 60]]

### 23-2.2차원리스트와 반복문

In [7]:
for element in a:
    print(element)

[10, 20]
[30, 40]
[50, 60]

In [8]:
for sub in a:
    for element in sub:
        print(element)
    print()

10
20

30
40

50
60

In [9]:
len(a), len(a[0])

(3, 2)

In [11]:
for i in range(len(a)):        #행의 갯수
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60

In [12]:
for row in a:
    for element in row:
        print(element, end= ' ')
    print()

10 20
30 40
50 60

### 23-3. 반복문으로 이차원 리스트 만들기

In [14]:
#1차원
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [15]:
# 2차원 (3x4)
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
# 2차원 (3x4)
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]