# 모듈사용하기

### 1. 모듈 사용하기

In [2]:
import math
print(f'floor(7.2) = {math.floor(7.2)}')
print(f'ceil(7.2) = {math.ceil(7.2)}')

floor(7.2) = 7
ceil(7.2) = 8

In [3]:
#모듈 이름을 약자로 사용
import math as m
m.floor(7.2), m.ceil(7.2)

(7, 8)

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#이런식으로 줄여씁니다 사실상의 표준(de facto standard)

In [7]:
# 모듈내의 함수를 직접 사용
from math import floor, ceil
floor(7.2), ceil(7.2)

(7, 8)

In [8]:
from sklearn.datasets import load_iris
iris = load_iris()

In [10]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### 2. 내장모듈

In [12]:
import random
random.randint(1, 6)

6

In [14]:
random.random()

0.06314464197054159

In [15]:
random.choice([1, 3, 5, 7, 9])

9

In [16]:
import datetime
datetime.datetime.today()

datetime.datetime(2021, 11, 24, 13, 56, 47, 323478)

In [17]:
datetime.datetime.today()

datetime.datetime(2021, 11, 24, 13, 57, 1, 395654)

In [20]:
from datetime import datetime
datetime.today()

datetime.datetime(2021, 11, 24, 13, 58, 37, 93670)

In [21]:
from datetime import date
date.today()

datetime.date(2021, 11, 24)

In [23]:
from datetime import timedelta
forty_days = timedelta(days=40)
date.today() + forty_days

datetime.date(2022, 1, 3)

In [24]:
date.today() + timedelta(days=100)

datetime.date(2022, 3, 4)