In [587]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [588]:
import seaborn as sns
iris = sns.load_dataset('iris')
titanic = sns.load_dataset('titanic')

In [589]:
#1-a
iris.groupby('species').agg(['mean', 'std'])

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

In [590]:
#2-b / 이상치를 제거하고 위의 4가지 항목에 대해서 평균, 표준편차를 구하시오.
s = iris[iris.species == 'setosa']['sepal_width']
q1, q3 = s.quantile(0.25), s.quantile(0.75)
iqr = q3 - q1
q1, q3, iqr

(3.2, 3.6750000000000003, 0.4750000000000001)

In [591]:
upper = q3 + 1.5 * iqr
lower = q1 - 1.5 *iqr
s[(s < lower) | (s > upper)] = np.nan
s.isna().sum()

2

In [592]:
s.mean(), s.std()

(3.4312500000000004, 0.32034306743094015)

In [593]:
def get_new_start(d):
    q1, q3 = s.quantile(0.25), s.quantile(0.75) 
    iqr = q3 - q1
    upper = q3 + 1.5 * iqr
    lower = q1 - 1.5 *iqr
    s[(s < lower) | (s > upper)] = np.nan
    return s.isna().sum(), s.mean(), s.std()

In [594]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [595]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [596]:
s = iris[iris.species == 'setosa']['sepal_width']

In [597]:
#Q.2
all=[]
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
        s = iris[iris.species == species][feature]
        old_mean, old_std = round(new_mean,3), round(new_std,4)
        outlier, new_mean, new_std = get_new_start(s)
        d = {'species':species, 'feature':feature, 'old_mean':old_mean, 'old_std':old_std, 'outlier갯수':outlier, 'new_mean':round(new_mean,3), 'new_std':round(new_std,4)}
        all.append(d)
df = pd.DataFrame(all)
df.set_index(['species', 'feature'], inplace=True)
df

                         old_mean  old_std  outlier갯수  new_mean  new_std
species    feature
setosa     sepal_length     2.026   0.2747          0     5.006   0.3525
           sepal_width      5.006   0.3525          2     3.431   0.3203
           petal_length     3.431   0.3203          4     1.461   0.1291
           petal_width      1.461   0.1291          2     0.233   0.0859
versicolor sepal_length     0.233   0.0859          0     5.936   0.5162
           sepal_width      5.936   0.5162          0     2.770   0.3138
           petal_length     2.770   0.3138          1     4.286   0.4378
           petal_width      4.286   0.4378          0     1.326   0.1978
virginica  sepal_length     1.326   0.1978          1     6.622   0.5935
           sepal_width      6.622   0.5935          3     2.955   0.2603
           petal_length     2.955   0.2603          0     5.552   0.5519
           petal_width      5.552   0.5519          0     2.026   0.2747

In [598]:
titanic['category1'] = titanic.apply(lambda x: x.sex if x.age >= 20 else 'child', exis=1)
titanic.tail()

TypeError: <lambda>() got an unexpected keyword argument 'exis'

In [ ]:
titanic['age'] = titanic.age.fillna(titanic.age.mean())
titanic['category1'] = titanic.apply(lambda x: x.sex if x.age >= 20 else 'child', exis=1)
titanic.tail()

In [ ]:
#survived의 평균 --> 생존률
titanic.groupby('sex')['survived'].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [ ]:
titanic.groupby('embark_town')['survived'].mean()

embark_town
Cherbourg      0.553571
Queenstown     0.389610
Southampton    0.336957
Name: survived, dtype: float64

In [ ]:
titanic.groupby(['sex','pclass'])['survived'].mean()

sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

In [ ]:
#Q.3
mpg = sns.load_dataset('mpg')
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [ ]:
#3-b
mpg['manufacture'] = mpg.name.apply(lambda x: x.split()[0])
mpg['model']=mpg.name.apply(lambda x: ' '.join(x.split()[1:]))
mpg.drop(columns=['name'], inplace=True)
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,manufacture,model
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford,ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy,s-10

In [ ]:
#3-a
mpg['hp_per_cc'] = mpg.horsepower / mpg.displacement
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,manufacture,model,hp_per_cc
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford,mustang gl,0.614286
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw,pickup,0.536082
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge,rampage,0.622222
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford,ranger,0.658333
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy,s-10,0.689076

In [ ]:
#3-c
mpg.groupby('cylinders')['mpg'].mean()

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [ ]:
#3-d
mpg.groupby('origin')[['mpg']].mean()

              mpg
origin
europe  27.891429
japan   30.450633
usa     20.083534

In [ ]:
mpg.manufacture.value_counts()

In [ ]:
s = mpg.manufacture.value_counts()
s[s >= 5]

ford          51
chevrolet     43
plymouth      31
amc           28
dodge         28
toyota        25
datsun        23
buick         17
pontiac       16
volkswagen    15
honda         13
mercury       11
oldsmobile    10
mazda         10
peugeot        8
fiat           8
audi           7
volvo          6
vw             6
chrysler       6
renault        5
Name: manufacture, dtype: int64

In [ ]:
big = s[s >= 5].index
big

Int64Index([], dtype='int64')

In [ ]:
'ford' in big

False

In [ ]:
mpg.manufacture.isin(big).tail()

393    False
394    False
395    False
396    False
397    False
Name: manufacture, dtype: bool

In [ ]:
big_mpg = mpg[mpg.manufacture.isin(big)]
big_mpg.groupby('manufacture')['mpg'].mean().sort_values(ascending=False).head(5)

Series([], Name: mpg, dtype: float64)