In [1]:
a = [10, 20, 30]
a.append(500)
a
#append는 요소를 하나 추가하는 명령어이다. 
# //비어있는 리스트에도 쌉가능

[10, 20, 30, 500]

In [2]:
len(a)

4

In [3]:
a = [10, 20, 30]
a.append([500, 600])
a
#append 명령어는 리스트안에 리스트를 추가하는게 가능하다. 
# 이것dl 중첩 리스트

[10, 20, 30, [500, 600]]

In [4]:
len(a)
#리스트안에 리스트는 하나의 갯수로 취급

4

In [5]:
a = [10, .20, 30]
a.extend([500, 600])
a
#extend(리스트) 명령어는 리스트 끝에 다른 리스트를 연결하여 
# 리스트를 확장한다.

[10, 0.2, 30, 500, 600]

In [6]:
len(a)
#append와는 다르게 리스트와 리스트를 연결한것이므로 
#연결한 리스트의 갯수만큼 리스트의 갯수가 증가한다.

5

In [18]:
a = [10, 20, 30]
a.pop()
print(a)
#pop 명령어는 리스트에서 출력값에서 마지막 요소를 삭제한다.

[10, 20]

In [19]:
a = [10, 20, 30]
a. pop(1)
print(a)
#원하는 요소를 삭제하고 싶다면 pop명령어에 값을 지정해주면 된다.
#사실 #pop대신 #del써도됨

[10, 30]

In [11]:
a = [10, 20, 30, 15, 20, 40]
a.index(20)
#index는 리스트에서 특정값의 인덱스를 보여준다. 
# // 값이 여러개의 경우 처음 찾은 인덱스를 구함

1

In [12]:
a = [10, 20, 30, 15, 20, 40]
a.count(20)
#count(값)의 경우 특정값의 개수를 구함
#위에 리스트 a 의 경우 20이 두개가 들어있기 때문에 2라고 출력됨

2

In [13]:
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a
#reverse는 요소의 순서를 반대로 뒤집는다

[40, 20, 15, 30, 20, 10]

In [14]:
a = [10, 20, 30, 15, 20, 40]
a.sort(reverse=False)
a
#sort() 혹은 sort(reverse=False)의 
# 경우 작은 순서대로 정렬한다(오름차순)

[10, 15, 20, 20, 30, 40]

In [15]:
a = [10, 20, 30, 15, 20, 40]
a.sort(reverse=True)
a
#sort() 혹은 sort(reverse=True)의 경우 
# 큰 순서대로 정렬한다(내림차순)

[40, 30, 20, 20, 15, 10]

In [21]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [17]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)
#sort는 리스트를 정렬 
# // sorted는 정렬된 새 리스트를 생성한다.

[10, 15, 20, 20, 30, 40]

In [16]:
a = [38,21, 53, 62, 19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
smallest

#smaller = a를 저장/for문으로 리스트의 요소를를 반복해서
# 제일 작은 수를 찾음
# 제일 큰 수일경우  if i < smallest:의 부등호를 바꾼다

19

In [24]:
a =[38, 21, 53, 62, 19]
min(a), max(a)

#min은 가장 작은 값을, max는 가장 큰값을 구할때 사용한다.

(19, 62)

In [27]:
a =[10, 10, 10, 10, 10]
x = 0
for i in a:
    x +=  i
x
#변수x에 0을 할당하고 for문을 사용해 합계를 구함

50

In [28]:
a = [10, 10, 10, 10, 10]
sum (a)
#sum 함수를 사용하면 간단히 합계를 구하는것이 가능하다.

50

In [1]:
a = [i for i in range(10)]
a
#range를 통해 리스트를 0에서 9까지 생성한뒤 
#변수 i를 통해 꺼낸다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = list(i for i in range(10))
b
#이렇게 써도됨

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
c = [i + 5 for i in range(10)]
c
#리스트에 0부터 9까지 숫자를 생성하면서 값에 5를 더하여 리스트 생성

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [25]:
d = [i * 2 for i in range(10)]
d
## 0부터 9까지 숫자를 생성하면서 값에 2를 곱하여 리스트 생성

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
a = [i for i in range(10) if i%2 == 0]
a
# 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성

[0, 2, 4, 6, 8]

In [29]:
a = [1.2, 2.5, 3.7, 4.6]
a= list(map(int, a))
a

#리스트의 실수를 정수로 변환할때는
#map을 사용해서 변환한다

[1, 2, 3, 4]

In [32]:
a = list(map(str, range(10)))
a
#str을 사용하면 숫자를 문자로 변환가능

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [37]:
a =map(int, input(). split())
list (a)

[10, 20]

In [39]:
x = input().split()    # input().split()의 결과는 문자열 리스트
m = map(int, x)        # 리스트의 요소를 int로 변환, 결과는 맵 객체
a, b = m               # 맵 객체는 변수 여러 개에 저장할 수 있음
#위에 코드를 폴어쓴것

In [41]:
a = (38, 21, 53, 62, 19, 53)
a.index(53)
#index는 튜플에서 특정값의 인덱스를 구함 // 가장 작은 ..

2

In [42]:
a =(10, 20, 30, 15, 20, 20, 40)
a.count(20)
#count는 특정 값의 갯수를 구함

3

In [48]:
a = tuple(i for i in range(10) if i % 2 == 0)
print(a)
#튜플 표현식 // 여기서 tuple을 붙여주지 않으면 다른 표현식이됨

(0, 2, 4, 6, 8)

In [49]:
a = (1.2, 2.5, 3.7, 4.6)
a= tuple(map(int, a))
a
#리스트와 동일

(1, 2, 3, 4)

In [53]:
a = (38, 21, 53, 62, 19)
min(a)
max(a)
sum(a)
#최대, 최소, 합계 역시 리스트와 동일

193

In [56]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b =[i for i in a if len(i) == 5]

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [ ]:
a  = map((int, input().split()))
i for i in range(10) if i%2 == 0